<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unibus.reservation.mapper.ReservationMapper">

    <resultMap id="BoardTicket" type="com.unibus.reservation.dto.ReservationTicketDto">
        <id column="schedule_id" property="scheduleId"/>
        <result column="bus_id" property="busId"/>
        <result column="route_id" property="routeId"/>
        <result column="start_date" property="scheduleStartDate"/>
        <result column="schedule_price" property="schedulePrice"/>
        <result column="start_terminal" property="startTerminal"/>
        <result column="end_terminal" property="endTerminal"/>
        <result column="grade_name" property="busGradeName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>
    <resultMap id="Bus" type="ReservationTicketDto">
        <id column="schedule_id" property="scheduleId"/>
        <result column="bus_id" property="busId"/>
        <result column="route_id" property="routeId"/>
        <result column="start_date" property="scheduleStartDate"/>
        <result column="end_date" property="scheduleEndDate"/>
        <result column="schedule_price" property="schedulePrice"/>
        <result column="start_terminal" property="startTerminal"/>
        <result column="end_terminal" property="endTerminal"/>
        <result column="grade_name" property="busGradeName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>
    <select id="getReservationList" parameterType="long"  resultType="Reservation">
        select * from reservation where member_seq = #{memberSeq}
    </select>

    <!-- 회원 예매 리스트 조회   -->
    <resultMap id="reservationSummaryResultMap" type="com.unibus.reservation.dto.ReservationSummaryDTO">
        <id column="payment_imp_uid" property="paymentImpUid"/>
        <result property="scheduleDate" column="schedule_date" />
        <result property="startTime" column="start_time" />
        <result property="scheduleEndTime" column="schedule_end_time" />
        <result property="startTerminalName" column="start_terminal_name" />
        <result property="endTerminalName" column="end_terminal_name" />
        <result property="reservationCount" column="reservation_count" />
        <result property="totalPrice" column="total_price" />
    </resultMap>



        <select id="findReservationsByMember" resultMap="reservationSummaryResultMap">
            SELECT
                res.reservation_date,
                res.payment_imp_uid,
                TO_CHAR(s.schedule_start_time, 'YY.MM.DD') AS schedule_date,
                TO_CHAR(s.schedule_start_time, 'HH24:MI:SS') AS start_time,
                TO_CHAR(s.schedule_end_time, 'YY.MM.DD') AS schedule_end_time,
                ter_start.terminal_name AS start_terminal_name,
                ter_end.terminal_name AS end_terminal_name,
                COUNT(res.payment_imp_uid) AS reservation_count,
                SUM(res.price) AS total_price
            FROM
                member m
                    JOIN
                reservation res ON m.member_seq = res.member_seq
                    JOIN
                schedule s ON res.schedule_id = s.schedule_id
                    JOIN
                route r ON s.route_id = r.route_id
                    JOIN
                TERMINAL ter_start ON r.route_start_id = ter_start.terminal_id
                    JOIN
                TERMINAL ter_end ON r.route_end_id = ter_end.terminal_id
            WHERE
                m.member_id = #{memberId} and res.reservation_status = 1
            GROUP BY
                r.route_start_id,
                r.route_end_id,
                ter_start.terminal_name,
                ter_end.terminal_name,
                s.schedule_start_time,
                s.schedule_end_time,
                res.payment_imp_uid,
                res.reservation_date
            ORDER BY res.reservation_date
    </select>


    <!-- 비회원 예매 리스트 조회    -->
    <select id="findReservationsByNonUser"  parameterType="String" resultMap="reservationSummaryResultMap">
        SELECT
            TO_CHAR(s.schedule_start_time, 'YY.MM.DD') AS schedule_date,
            TO_CHAR(s.schedule_start_time, 'HH24:MI:SS') AS start_time,
            TO_CHAR(s.schedule_end_time, 'HH24:MI:SS') AS schedule_end_time,
            ter_start.terminal_name AS start_terminal_name,
            ter_end.terminal_name AS end_terminal_name,
            COUNT(res.reservation_id) AS reservation_count,
            SUM(res.price) AS total_price
        FROM
            non_user n
        JOIN
            reservation res ON n.non_user_code = res.non_user_code
        JOIN
            schedule s ON res.schedule_id = s.schedule_id
        JOIN
            route r ON s.route_id = r.route_id
        JOIN
            TERMINAL ter_start ON r.route_start_id = ter_start.terminal_id
        JOIN
            TERMINAL ter_end ON r.route_end_id = ter_end.terminal_id
        WHERE
            n.non_user_tel = '010-7740-5366'  and res.reservation_status = 1
        GROUP BY
            r.route_start_id,
            r.route_end_id,
            ter_start.terminal_name,
            ter_end.terminal_name,
            s.schedule_start_time,
            s.schedule_end_time
    </select>

    <!-- 예매내역 수정   -->
    <update id="updateReservation" parameterType="int">
        update  reservation
        set reservation_status = 0
        where reservation_id = #{reservationId}
    </update>

    <!-- 예매 상세 조회  -->
    <select id="finDetailReservation" resultMap="reservationSummaryResultMap">
        SELECT
            TO_CHAR(s.schedule_start_time, 'YY.MM.DD') AS schedule_date,
            ter_start.terminal_name AS start_terminal_name,
            ter_end.terminal_name AS end_terminal_name,
            TO_CHAR(s.schedule_start_time, 'HH24:MI:SS') AS start_time,
            res.payment_imp_uid AS reservation_pay_id,
            SUM(res.price) AS total_price
        FROM
            member m
                JOIN
            reservation res ON m.member_seq = res.member_seq
                JOIN
            schedule s ON res.schedule_id = s.schedule_id
                JOIN
            route r ON s.route_id = r.route_id
                JOIN
            TERMINAL ter_start ON r.route_start_id = ter_start.terminal_id
                JOIN
            TERMINAL ter_end ON r.route_end_id = ter_end.terminal_id
        WHERE
            m.member_id = #{memberId} and res.reservation_status = 1 and res.payment_imp_uid = #{paymentImpUid}
        GROUP BY
            r.route_start_id,
            r.route_end_id,
            ter_start.terminal_name,
            ter_end.terminal_name,
            s.schedule_start_time,
            s.schedule_end_time,
            res.payment_imp_uid
    </select>

    <select id="findDetailTicket" resultType="int">
        select seat_number from reservation r , member m
        where r.member_seq = m.member_seq
        and m.member_id = #{memberId}
        and r.payment_imp_uid = #{paymentImpUid}
    </select>

    <select id="getTicketByScheduleId" resultMap="BoardTicket">
        SELECT
            s.schedule_id,
            s.bus_id,
            s.route_id,
            TO_CHAR(s.schedule_start_time, 'yyyy-MM-dd') AS start_date,
            s.schedule_price,
            ts.terminal_name AS start_terminal,
            te.terminal_name AS end_terminal,
            bg.grade_name,
            c.company_name
        FROM
            schedule s
                JOIN
            route r ON s.route_id = r.route_id
                JOIN
            terminal ts ON r.route_start_id = ts.terminal_id
                JOIN
            terminal te ON r.route_end_id = te.terminal_id
                JOIN
            bus b ON b.bus_id = s.bus_id
                JOIN
            bus_grade bg ON bg.grade_id = b.grade_id
                JOIN
            company c ON b.company_id = c.company_id
        where schedule_id = #{scheduleId}

    </select>

    <select id="findBus" resultMap="Bus">
        SELECT
            s.schedule_id,
            s.bus_id,
            s.route_id,
            TO_CHAR(s.schedule_start_time, 'yyyy-MM-dd HH24:MI:SS') AS start_date,
            TO_CHAR(s.schedule_end_time, 'yyyy-MM-dd HH24:MI:SS') AS end_date,
            s.schedule_price,
            ts.terminal_name AS start_terminal,
            te.terminal_name AS end_terminal,
            bg.grade_name,
            c.company_name
        FROM
            schedule s
                JOIN
            route r ON s.route_id = r.route_id
                JOIN
            terminal ts ON r.route_start_id = ts.terminal_id
                JOIN
            terminal te ON r.route_end_id = te.terminal_id
                JOIN
            bus b ON b.bus_id = s.bus_id
                JOIN
            bus_grade bg ON bg.grade_id = b.grade_id
                JOIN
            company c ON b.company_id = c.company_id
        where schedule_id = #{scheduleId}

    </select>


    <insert id="memberSaveReservation">
        <selectKey order="BEFORE" resultType="int" keyProperty="reservationId">
            select reservation_seq.nextval from dual
        </selectKey>
        INSERT INTO reservation values(
            #{reservationId}, #{paymentImpUid}, #{memberSeq}, null, #{scheduleId},
            #{seatNumber}, #{price}, sysdate, 1
        )
    </insert>

    <insert id="nonMemberSaveReservation">
        <selectKey order="BEFORE" resultType="int" keyProperty="reservationId">
            select reservation_seq.nextval from dual
        </selectKey>
        INSERT INTO reservation values(
        #{reservationId}, #{paymentImpUid}, null, #{nonUserCode}, #{scheduleId},
        #{seatNumber}, #{price}, sysdate, 1
        )
    </insert>

    <resultMap id="reservationFinishInfo" type="com.unibus.reservation.dto.ReservationFinishDto">
        <id property="paymentImpUid" column="payment_imp_uid"/>
        <result property="reservationStartDate" column="start_date"/>
        <result property="startTerminal" column="start_terminal"/>
        <result property="endTerminal" column="end_terminal"/>
        <result property="busGradeName" column="grade_name"/>
        <result property="companyName" column="company_name"/>
    </resultMap>

    <select id="getReservationByPaymentImpUid" resultMap="reservationFinishInfo">
        SELECT
            p.payment_imp_uid,
            TO_CHAR(s.schedule_start_time, 'yyyy-MM-dd') AS start_date,
            s.schedule_price,
            ts.terminal_name AS start_terminal,
            te.terminal_name AS end_terminal,
            bg.grade_name,
            c.company_name
        FROM
            schedule s
                JOIN
            route r ON s.route_id = r.route_id
                JOIN
            terminal ts ON r.route_start_id = ts.terminal_id
                JOIN
            terminal te ON r.route_end_id = te.terminal_id
                JOIN
            bus b ON b.bus_id = s.bus_id
                JOIN
            bus_grade bg ON bg.grade_id = b.grade_id
                JOIN
            company c ON b.company_id = c.company_id
                JOIN
            reservation re ON re.schedule_id = s.schedule_id
                JOIN
            payment p ON p.payment_imp_uid =  re.payment_imp_uid
        where p.payment_imp_uid = #{paymentImpUid} and rownum = 1
    </select>

    <select id="findTicketCountByPaymentId" resultType="int">
        select count(*) from reservation where payment_imp_uid= #{paymentImpUid}
    </select>

    <select id="findSeatNumberByPayment" resultType="int">
        SELECT seat_number
        FROM reservation
        WHERE payment_imp_uid = #{paymentImpUid}
    </select>

    <select id="findTotalPriceByPaymentImpUid" resultType="int">
        select sum(price) from reservation where payment_imp_uid= #{paymentImpUid}
    </select>

</mapper>
