body{
  background-color: #F4F4F4;
}
div#reservation_detail_wrap{
  margin-top: 100px;
  padding: 50px 70px 70px 70px;
  box-sizing: border-box;
}
div#main_reservation_bar{
  width: 100%;
  height: 50px;
  padding: 0 25%;
  box-sizing: border-box;
}
ul#main_reservation_bar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
ul#main_reservation_bar>li{
  width: 19%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
ul#main_reservation_bar>li>p{
  font: 500 20px "Noto Sans KR";
}
div.main_reservation_bar_box{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  /* padding: 17px;
  box-sizing: border-box; */
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
  
}
div.main_reservation_bar_box>p{
  font: 500 16px "Noto Sans KR";
  color: black;
  text-align: center;
  margin-bottom: 10px;
}
li.selector>div{
  background-color: #00137A;
  padding-top: 17px;
  box-sizing: border-box;
}
div.main_reservation_bar_box>i{
  font-size: 16px;
  color: white;
}
div.line{
  width: 70%;
  height: 2px;
  border-radius: 1px;
  background-color: #00137A;
  margin-left: 10%;
}

/* =========================버스 선택 좌측======================== */

div#reservation_course_wrap{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

section#reservation_course{
  width: 70%;
  min-height: 200px;
  padding: 25px 25px 150px 25px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.12);

}

button#reservation_course_calander{
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: #eeeeee;
  font: 400 18px "Noto Sans KR";
  border: none;
  cursor: pointer;
}
button#reservation_course_calander>i{
  color: #00137A;
  font: 24px;
}
button#reservation_course_calander:hover{
  background-color: #00137A;
  color: white;
  transition: ease-out 0.2s;
}
button#reservation_course_calander:hover>i{
  color: white;
  transition: ease-out 0.2s;
}


div#reservation_course_menu_wrap{
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 45px;
  box-sizing: border-box;
  border-bottom: solid 1px;
  border-color: #cccccc;
  
}
div#reservation_course_menu_wrap>div{
  width: 120px;
  height: 100%;
}
ul#reservation_course_menu{
  width: 80%;
  height: 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  /* border-bottom: solid 1px;
  border-color: #cccccc; */
}
ul#reservation_course_menu>li{
  width: 15%;
  font: 500 18px "Noto Sans KR";
}

ul#reservation_course_list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
ul#reservation_course_list>li{
  width: 100%;
  height: 80px;
  padding: 13px 20px 15px 20px;
  box-sizing: border-box;
  border: solid 2px;
  border-color: #cccccc;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
ul.reservation_course_list_detail{
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
ul.reservation_course_list_detail>li{
  width: 15%;
  font: 400 16px "Noto Sans KR";
}
ul.reservation_course_list_detail>li:first-child{
  /* 남기기 ㅎㅎ */
}
li.time{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #EEEEEE;
  font: 500 18px "Noto Sans KR" !important;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}
button.reservation_course_list_detail_btn{
  width: 120px;
  height: 50px;
  background-color: #EEEEEE;
  border-radius: 10px;
  border: none;
  font: 500 20px "Noto Sans KR";
  cursor: pointer;
}
button.reservation_course_list_detail_btn>i{
  margin-left: 10px;
  font-size: 20px;
  color: #00137A;
}
button.reservation_course_list_detail_btn:hover{
  color: white;
  background-color: #00137A;
  transition: ease-out 0.2s;
}
button.reservation_course_list_detail_btn:hover>i{
  color: white;
  transition: ease-out 0.2s;
}



/* =========================버스 선택 우측======================== */

section#reservation_course_info{
  width: 27%;
  min-height: 300px;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.12);

}

