body{
  background-color: #F4F4F4;
}
div#reservation_seat_wrap{
  margin-top: 100px;
  padding: 50px 70px 70px 70px;
  box-sizing: border-box;
}
div#main_reservation_bar{
  width: 100%;
  height: 50px;
  padding: 0 25%;
  box-sizing: border-box;
}
ul#main_reservation_bar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
ul#main_reservation_bar>li{
  width: 19%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
ul#main_reservation_bar>li>p{
  font: 500 20px "Noto Sans KR";
}
div.main_reservation_bar_box{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  /* padding: 17px;
  box-sizing: border-box; */
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
  
}
div.main_reservation_bar_box>p{
  font: 500 16px "Noto Sans KR";
  color: black;
  text-align: center;
  margin-bottom: 10px;
}
li.selector>div{
  background-color: #00137A;
  padding-top: 17px;
  box-sizing: border-box;
}
div.main_reservation_bar_box>i{
  font-size: 16px;
  color: white;
}
div.line{
  width: 70%;
  height: 2px;
  border-radius: 1px;
  background-color: #00137A;
  margin-left: 10%;
}


/* =======================좌석선택내용==================== */
div#reservation_seat_wrap_detail{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

section#reservation_seat_select{
  width: 70%;
  min-height: 200px;
  padding: 25px 25px 150px 25px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.12);
  position: relative;
  background: white;
}

div#reservation_seat_select_info{
  width: 100%;
  height: 120px;
  background-color: #DBFFEB;
  border-radius: 10px 10px 0 0;
  border: none;
  padding: 20px 40px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
div#reservation_seat_select_info1{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 23px;
  box-sizing: border-box;
  background-color: white;
  float: left;
  margin-right: 40px;
}
div#reservation_seat_select_info1>i{
  font-size: 34px;
  color: #24C7AA;
}
div#reservation_seat_select_info2{
  float: left;
}
div#reservation_seat_select_info2>p{
  font: 500 18px "Noto Sans KR";
  color: #656565;
}

/* =======================좌석선택==================== */

.container {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
}

div#seat_map_wrap{
  width: 400px;
  height: 1100px;
  background-image: url(/resources/img/bus_bg_big.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.seat-map1 {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 20px;
  position: absolute;
  left: 35px;
  top: 250px;
}

.seat-map2 {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 20px;
  position: absolute;
  left: 70px;
  top: 220px;
}

.seat-map3 {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 20px;
  position: absolute;
  left: 70px;
  top: 280px;
}

.seat {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.seat_blank{
  display: none;
}

.seat.selected {
  background-color: #6c5ce7;
  color: white;
}

.seat.disabled {
  background-color: #999;
  cursor: not-allowed;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.passenger-type {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 50px;
  margin-right: 50px;
}
.passenger-type:first-child{
  margin-top: 50px;
}
button {
  padding: 5px;
}

.passenger-type>label{
  font: 600 30px "Noto Sans KR";
  margin-right: 60px;
}
.passenger-type:nth-child(2) >label{
  font: 600 30px "Noto Sans KR";
  margin-right: 33px;
}
button#adult-minus{
  width: 70px;
  height: 70px;
  border-radius: 10px 0 0 10px;
  border: solid 1px;
  background-color: white;
  font: 500 30px "Noto Sans KR";
}
span#adults{
  width: 70px;
  height: 70px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  box-sizing: border-box;
  text-align: center;
  font: 500 24px "Noto Sans KR";
  padding-top: 15px;
}
button#adult-plus{
  width: 70px;
  height: 70px;
  border-radius: 0 10px 10px 0;
  border: solid 1px;
  background-color: white;
  font: 500 30px "Noto Sans KR";
}

button#student-minus{
  width: 70px;
  height: 70px;
  border-radius: 10px 0 0 10px;
  border: solid 1px;
  background-color: white;
  font: 500 30px "Noto Sans KR";
}
span#students{
  width: 70px;
  height: 70px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  box-sizing: border-box;
  text-align: center;
  font: 500 24px "Noto Sans KR";
  padding-top: 15px;
}
button#student-plus{
  width: 70px;
  height: 70px;
  border-radius: 0 10px 10px 0;
  border: solid 1px;
  background-color: white;
  font: 500 30px "Noto Sans KR";
}

button#child-minus{
  width: 70px;
  height: 70px;
  border-radius: 10px 0 0 10px;
  border: solid 1px;
  background-color: white;
  font: 500 30px "Noto Sans KR";
}
span#children{
  width: 70px;
  height: 70px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  box-sizing: border-box;
  text-align: center;
  font: 500 24px "Noto Sans KR";
  padding-top: 15px;
}
button#child-plus{
  width: 70px;
  height: 70px;
  border-radius: 0 10px 10px 0;
  border: solid 1px;
  background-color: white;
  font: 500 30px "Noto Sans KR";
}






/* =======================좌석선택결제정보==================== */

section#reservation_seat_info{
  width: 27%;
  height: 850px;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.12);
  background: white;
}

section#reservation_seat_info>h2{
  font: 600 20px "Noto Sans KR";
  margin-bottom: 30px;
}

div#reservation_course_info_detail{
  width: 350px;
  height: 320px;
  border-radius: 20px;
  border: solid 2px;
  border-color: #cccccc;
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
div#reservation_course_info_other1{
  width: 100%;
  height: 170px;
  margin-bottom: 30px;
}


div#reservation_course_info_wrap1{
  width: 70px;
  height: 170px;
  float: left;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
div.reservation_course_icon{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: none;
  background-color: #00137A;
  text-align: center;
  padding-top: 22px;
  padding-left: 2px;
  box-sizing: border-box;
}
div.reservation_course_icon>p{
  font: 600 18px "Noto Sans KR";
  color: white;
}
div#reservation_course_line{
  width: 3px;
  height: 30px;
  background-color: #00137A;

}

div#reservation_course_info_wrap2{
  width: 70px;
  height: 170px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
div#reservation_course_start{
  width: 200px;
  height: 70px;
  padding-top: 15px;
  box-sizing: border-box;
}
div#reservation_course_start>p{
  font: 600 25px "Noto Sans KR";
}
div#reservation_course_end{
  width: 200px;
  height: 70px;
  padding-top: 15px;
  box-sizing: border-box;
}
div#reservation_course_end>p{
  font: 600 25px "Noto Sans KR";
}

div#reservation_course_info_other2{
  width: 100%;
  min-height: 100px;
}
ul#reservation_course_info_otherlist{
  width: 100%;
  min-height: 100px;
}
ul#reservation_course_info_otherlist>li{
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p.reservation_course_info_otherlistin{
  font: 500 18px "Noto Sans KR";
}
p#reservation_course_time{
  font: 500 18px "Noto Sans KR";
  color: #5c5c5c;
}
p#reservation_course_length{
  font: 500 18px "Noto Sans KR";
  color: #5c5c5c;
}

div#reservation_course_info_summary{
  width: 100%;
  height: 230px;
  margin-top: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}
div#reservation_course_info_summary>h3{
  font: 600 20px "Noto Sans KR";
  margin-bottom: 30px;
}
ul#reservation_course_info_summary_list{
  width: 100%;
  height: 100%;
}
ul#reservation_course_info_summary_list>li{
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
ul#reservation_course_info_summary_list>li>p{
  font: 500 16px "Noto Sans KR";
}
ul#reservation_course_info_summary_list>li>p>span{
  margin-right: 10px;
}

div.summary {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
div.summary>p{
  font: 600 20px "Noto Sans KR";
}
span#total_amount{
  font: 500 20px "Noto Sans KR";
  margin-right: 10px;
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 25px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  width: 100%;
  height: 73px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #00137a;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #00137a;
}

.button2:hover:before {
  top: -35%;
  background-color: #00137a;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #00137a;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}