<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unibus.admin.mapper.AdminMapper">
    <select id="getUserList" resultType="User">
        select * from member where withdraw != 0
    </select>

    <select id="getUserById" parameterType="int" resultType="User">
        select * from member where member_seq = #{id}
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE member
        SET member_name = #{memberName},
            member_tel = #{memberTel},
            member_email = #{memberEmail}
        WHERE member_seq = #{memberSeq}
    </update>

    <update id="deleteUser" parameterType="int">
        update member
        set withdraw = 0
        where member_seq = #{memberSeq}
    </update>

</mapper>