<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unibus.admin.mapper.AdminMapper">
    <select id="getUserList" resultType="User">
        select * from member where withdraw != 0
    </select>

    <select id="getUserById" parameterType="int" resultType="User">
        select * from member where member_seq = #{id}
    </select>

    <update id="updateUser" parameterType="UserDTO">
        UPDATE member
        SET member_name = #{name},
            member_tel = #{phoneNumber},
            member_email = #{email}
        WHERE member_seq = #{id}
    </update>

    <update id="deleteUser" parameterType="int">
        update member
        set withdraw = 0
        where member_seq = #{memberSeq}
    </update>

    <select id="getTerminalList" resultType="Terminal">
        select * from terminal where terminal_status != 0
    </select>

    <select id="getTerminalById" parameterType="String" resultType="AdminTerminalDto">
        select terminal_id, city_id, terminal_name, address, tel from terminal where terminal_id = #{id}
    </select>

    <select id="getCityList" resultType="City">
        select * from city
    </select>

    <insert id="createTerminal" parameterType="AdminTerminalDto">
        insert
        into terminal(terminal_id, terminal_name, city_id, address, tel, terminal_status)
        values (#{terminalId}, #{terminalName}, #{cityId}, #{address}, #{tel}, 1)
    </insert>

    <update id="updateTerminal" parameterType="UpdateTerminalDto">
        update terminal
        set terminal_name = #{terminalName},
            address = #{address},
            tel = #{tel}
        where terminal_id = #{terminalId}
    </update>

    <update id="deleteTerminal" parameterType="String">
        delete from terminal where terminal_id = #{id}
    </update>

    <select id="getCompanyList" resultType="CompanyDto">
        select * from company
    </select>

    <resultMap id="CompanyWithBusResultMap" type="CompanyDto">
        <id property="companyId" column="companyId"/>
        <result property="companyName" column="companyName"/>
        <result property="companyTel" column="companyTel"/>
        <collection property="busList" resultMap="busListMap"/>
    </resultMap>
    <resultMap id="busListMap" type="Bus">
        <result property="busNumber" column="busNumber"/>
        <result property="gradeName" column="gradeName"/>
    </resultMap>

    <select id="getCompanyById" parameterType="int" resultMap="CompanyWithBusResultMap">
        SELECT
            c.company_id AS companyId,
            c.company_name AS companyName,
            c.company_tel AS companyTel,
            b.bus_number AS busNumber,
            g.grade_name AS gradeName
        FROM
            company c
                LEFT JOIN
            bus b ON c.company_id = b.company_id
                LEFT JOIN
            bus_grade g ON b.grade_id = g.grade_id
        WHERE
            c.company_id = #{id}
    </select>



</mapper>